{% extends 'base.html.twig' %}

{% block title %}Hello Exo6Controller!{% endblock %}

{% block body %}
<h2>Bienvenur sur le site</h2>
<p>Pour commencer, rendez vous sur la page d'inscription pour utiliser l'application</p>
<button class="bg-red-300 p-2 rounded">Inscription</button>
{% endblock %}
